@model GigHub.Web.ViewModels.FollowsViewModel

<h1 class="pl-3 mb-4">Artists I'm following</h1>

<ul>
	@foreach (var artist in Model.Artists)
	{
		<li class="list-group-item list-group-item-action">
			@artist.Name
		</li>
	}
</ul>
