<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title GigHub</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
	<link rel="stylesheet" asp-href-include="css/site.css">
</head>
<body>
	<div>
		<partial name="_NavBar" />
	</div>
	<div class="container">
		@RenderBody()
	</div>

	@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
	<script asp-src-include="lib/underscore.js/underscore.js"></script>
	@*<script asp-src-include="lib/jquery-validate/jquery.validate.min.js"></script>
		<script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

	@RenderSection("scripts", false)
	<script type="text/x-template" id="notifications-template">
		<ul class="notificationss">
			<%
			_.each(notifications, function(notification){
			if(notification.type == 1)
			{%>
			<li><span class="highlight"><%= notification.gig.artist.name %></span> has canceled the gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %></li>
			<%}

			if(notification.type == 2)
			{
			var changes = [];
			var originalValues = [];
			var newValues = [];

			if(notification.originalVenue != notification.gig.venue)
			{
			changes.push('venue');
			originalValues.push(notification.originalVenue);
			newValues.push(notification.gig.venue);
			}

			if(notification.originalDateTime != notification.gig.dateTime)
			{
			changes.push('date/time');
			originalValues.push(moment(notification.originalDateTime).format("D MMM HH:mm"));
			newValues.push(moment(notification.gig.dateTime).format("D MMM HH:mm"));
			}

			%>
			<li><span class="highlight"><%= notification.gig.artist.name %></span> has changed the <%= changes.join(' and ') %> of the gig from <%= originalValues.join('') %> to <%= newValues.join('') %></li>
			<%}

			if(notification.type == 3)
			{%>
			<li><%= notification.gig.artist.name %> has created the gig.</li>
			<%}
			})
			%>
		</ul>
	</script>

	<script>
		$(document).ready(function () {
			$.ajax(
				{
					url: "/api/notifications",
					method: "GET",
					dataType: "json"
				})
				.done(function (notifications) {
					if (notifications.length === 0) {
						return;
					}

					$(".js-notifications-count")
						.css("display", "inline-block")
						.text(notifications.length)
						.addClass("animated bounceInDown");

					$("#notifications").popover({
						html: true,
						title: "Notifications",
						content: function () {
							var compiled = _.template($("#notifications-template").html());
							return compiled({ notifications: notifications });
						},
						placement: "bottom",
						trigger: "click",
						template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'

					}).on("shown.bs.popover", function () {
						$.ajax(
							{
								url: "/api/notifications",
								method: "POST"
							})
							.done(function () {
								$(".js-notifications-count")
									.css("display", "none")
									.text("");
							})
							.fail(function () {
								alert("Cant connect.");
							});
					});
				})
				.fail(function () {
					alert("Something failed!");
				});
		});
	</script>
</body>
</html>
