<nav class="navbar navbar-expand-lg navbar-light">
	<a asp-controller="Home" asp-action="Index" class="navbar-brand">Concerts Hub </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a asp-controller="Gigs" asp-action="Create" class="nav-link">Add a Gig<span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<partial name="_Login" />
	</div>
</nav>
